type cpuvoltcap, domain;
type cpuvoltcap_exec, exec_type, file_type;

init_daemon_domain(cpuvoltcap)

optional {
    allow cpuvoltcap self:netlink_socket create_socket_perms;
}

optional {
    allow cpuvoltcap system_data_file:dir create_dir_perms;
    allow cpuvoltcap system_data_file:file create_file_perms;
    allow cpuvoltcap system_data_file:fifo_file create_file_perms;
}

optional {
    allow cpuvoltcap sysfs_thermal:file r_file_perms;
    allow cpuvoltcap sysfs_thermal:dir r_dir_perms;
}

optional {
    allow cpuvoltcap sysfs_tegra_rail_stats:file r_file_perms;
    allow cpuvoltcap sysfs_tegra_cpu_volt_cap:dir rw_dir_perms;
    allow cpuvoltcap sysfs_tegra_cpu_volt_cap:file rw_file_perms;
}