type quadd_device, dev_type;
type quadd_auth_device, dev_type;
type tsec_device, dev_type;
type throughput_device, dev_type;
type pmqos_device, dev_type;
type factory_block_device, dev_type;
