optional {
    allow init persist_file:file r_file_perms;
    allow init vendor_firmware_file:file { create write setattr };
    allow init vendor_exec:file { execute execute_no_trans };
}
optional {
    allow init persist_file:dir search;
    allow init persist_file:file { open read getattr };
    allow init vendor_firmware_file:dir { search write add_name };
    allow init vendor_firmware_file:file { create write setattr unlink };
    allow init vendor_exec:file { execute execute_no_trans };
    allow init bluetooth_persist_file:file { open read getattr };