optional {
    allow shell quadd_device:chr_file rw_file_perms;
}
optional {
    allow shell video_device:chr_file { open read write ioctl };
}
optional {
    allow shell throughput_device:chr_file { open read write ioctl };
}