optional {
    allow surfaceflinger surfaceflinger_prop:property_service set;
}
optional {
    allow surfaceflinger sysfs_thermal:file rw_file_perms;
    allow surfaceflinger sysfs_smartdimmer:file rw_file_perms;
}
optional {
    allow surfaceflinger tsec_device:chr_file rw_file_perms;
}
optional {
    allow surfaceflinger surfaceflinger_tmpfs:dir rw_dir_perms;
    allow surfaceflinger surfaceflinger_tmpfs:file create_file_perms;
}
optional {
    allow surfaceflinger surfaceflinger_fc:dir rw_dir_perms;
    allow surfaceflinger surfaceflinger_fc:file create_file_perms;
}
optional {
    allow surfaceflinger system_data_file:dir create_dir_perms;
    allow surfaceflinger system_data_file:file create_file_perms;
}
optional {
    allow surfaceflinger system_app_data_file:dir search;
}