type rebindEthernet, domain;
type rebindEthernet_exec, exec_type, file_type;
init_daemon_domain(rebindEthernet)
optional {
    allow rebindEthernet rebindEthernet_exec:file open;
    allow rebindEthernet sysfs_bus_usb:file write;
}