type usdwatchdog, domain;
type usdwatchdog_exec, exec_type, file_type;
init_daemon_domain(usdwatchdog)
allow_use_phs(usdwatchdog)
optional {
    allow usdwatchdog phsd_data:file rw_file_perms;
    allow usdwatchdog phsd_data:sock_file rw_file_perms;
}
optional {
    allow usdwatchdog video_device:chr_file { open read write ioctl };
}
optional {
    allow usdwatchdog ussrd:dir r_dir_perms;
    allow usdwatchdog ussrd:file rw_file_perms;
    allow usdwatchdog ussrd:sock_file r_file_perms;
    allow usdwatchdog ussrd:process { sigkill signal };
}