type ussrd, domain;
type ussrd_exec, exec_type, file_type;
type ussrd_service, service_manager_type;

init_daemon_domain(ussrd)
binder_use(ussrd)
binder_service(ussrd)
optional {
    allow ussrd ussrd_service:service_manager add;
}
optional {
    allow ussrd phsd_socket:unix_stream_socket rw_stream_socket_perms;
}
optional {
    allow ussrd pmqos_device:chr_file rw_file_perms;
}
optional {
    type_transition ussrd system_data_file:file phsd_data;
    allow ussrd phsd_data:dir create_dir_perms;
    allow ussrd phsd_data:file create_file_perms;
    allow ussrd phsd_data:sock_file create_file_perms;
}
optional {
    allow ussrd surfaceflinger_tmpfs:file r_file_perms;
    allow ussrd surfaceflinger_fc:file r_file_perms;
}
optional {
    allow ussrd sysfs_thermal:dir rw_dir_perms;
    allow ussrd sysfs_thermal:file rw_file_perms;
    allow ussrd sysfs_thermal:lnk_file r_file_perms;
}
optional {
    allow ussrd video_device:chr_file { open read write ioctl };
}
optional {
    allow ussrd debugfs:file r_file_perms;
}
optional {
    allow ussrd sysfs_throughput:file r_file_perms;
}