type ussr_setup, domain;
type ussr_setup_exec, exec_type, file_type;
init_daemon_domain(ussr_setup)
optional {
set_prop(ussr_setup, vendor_ussr)
}
optional {
    allow ussr_setup thermal_prop:property_service set;
    allow ussr_setup sysfs_thermal:dir { setattr rw_dir_perms };
    allow ussr_setup sysfs_thermal:{file lnk_file} { setattr rw_file_perms };
}
optional {
    allow ussr_setup phsd_data:dir r_dir_perms;
}
optional {
    allow ussr_setup sysfs_throughput:file { getattr setattr };
}
