type devproxy, domain;
type devproxy_exec, exec_type, file_type;
init_daemon_domain(devproxy)
optional {
    allow devproxy gps_data_file:dir create_dir_perms;
    allow devproxy gps_data_file:file create_file_perms;
    allow devproxy gps_data_file:fifo_file create_file_perms;
    allow devproxy gps_device:chr_file rw_file_perms;
}
type agnss_connect, domain;
type agnss_connect_exec, exec_type, file_type;
init_daemon_domain(agnss_connect)
optional {
    allow agnss_connect gps_data_file:dir create_dir_perms;
    allow agnss_connect gps_data_file:file create_file_perms;
    allow agnss_connect gps_data_file:fifo_file create_file_perms;
    allow agnss_connect gps_data_file:sock_file create_file_perms;
    allow agnss_connect gps_data_file:unix_dgram_socket { sendto };
    allow agnss_connect system_server:unix_dgram_socket { sendto };
}
type iw, domain;
type iw_exec, exec_type, file_type;
init_daemon_domain(iw)
type add_p2p_iface, domain;
type add_p2p_iface_exec, exec_type, file_type;
init_daemon_domain(add_p2p_iface)
optional {
    allow add_p2p_iface iw_exec:file rx_file_perms;
    allow add_p2p_iface kernel:system module_request;
    allow add_p2p_iface self:netlink_socket create_socket_perms;
    allow add_p2p_iface self:udp_socket create_socket_perms;
}
type uim, domain;
type uim_exec, exec_type, file_type;
init_daemon_domain(uim)
optional {
    allow uim hci_attach_dev:chr_file rw_file_perms;
}