service zygote /system/bin/app_process32 -Xzygote /system/bin --zygote --start-system-server
    class main
    priority -20
    socket zygote stream 660 root system
    onrestart restart audioserver
    onrestart restart cameraserver
    onrestart restart media
    onrestart restart netd
    writepid /dev/cpuset/foreground/tasks