# /vendor/etc/init/init.usb.rc
on early-init
    # Inicialização do subsistema USB
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    # Configuração inicial do controlador Tegra USB
    write /sys/devices/platform/tegra-ehci.0/usb_mode peripheral
    write /sys/devices/platform/tegra-ehci.1/usb_mode host
    write /sys/devices/platform/tegra-otg/otg_power 1

on boot
    # Configurações padrão do USB
    write /sys/class/android_usb/android0/iManufacturer "HP"
    write /sys/class/android_usb/android0/iProduct "Phobos"
    write /sys/class/android_usb/android0/iSerial "${ro.serialno}"
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    
    # Habilitar USB debugging por padrão
    write /sys/class/android_usb/android0/enable 1
    setprop persist.sys.usb.config mtp,adb

    # Configuração específica do Tegra 4
    write /sys/devices/platform/tegra-ehci.0/ehci_power 1
    write /sys/devices/platform/tegra-ehci.1/ehci_power 1
    write /sys/module/g_android/parameters/idVendor 18D1
    write /sys/module/g_android/parameters/idProduct 4EE2

on property:sys.usb.config=*
    # Atualizar configuração quando a propriedade muda
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.ffs.ready=1
    # Iniciar serviço ADB quando o FFS estiver pronto
    start adbd

# Serviço ADB
service adbd /system/bin/adbd --root_seclabel=u:r:adbd:s0
    class core
    socket adbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0

# Serviço de monitoramento USB (opcional)
service usb_monitor /system/bin/sh /vendor/bin/usb_monitor.sh
    class main
    user root
    group root
    oneshot