on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    symlink /system/etc /etc
    mkdir /mnt 0775 root system
    mkdir /mnt/shell 0700 shell shell
    mkdir /mnt/media_rw 0750 root sdcard_rw
    mkdir /mnt/user 0755 root root
    mkdir /mnt/secure 0700 root root
    mkdir /mnt/asec 0700 root root
    mkdir /mnt/obb 0700 root root

on post-fs
    mount_all /fstab.phobos

